# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

/src/.deps
/src/skels/.deps

# autotools
*.log
*.status
configure
Makefile
ltmain.sh
config.status
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
depcomp
install-sh
libtool
Makefile.in
missing
stamp-h1
*.ggo
/m4

# results
Doxyfile
*.pc
cmdline.c
cmdline.h
*.tab.c
*.tab.h
*.lex.c
genpacket
src/packit

# editor files
.*.swp
*.csv
