# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.trs

/src/.deps
/test/.deps
/src/skels/.deps
.deps

# autotools
*.log
*.status
configure
Makefile
ltmain.sh
config.status
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
depcomp
install-sh
libtool
Makefile.in
missing
stamp-h1
*.ggo
/m4
test/.dirstamp
src/.dirstamp

# results
Doxyfile
*.pc
cmdline.c
cmdline.h
*.tab.c
*.tab.h
*.lex.c
genpacket
src/packit
test/test_packit
test/bats
test/genpacket.[ch]
test/genpacket_tools.[ch]
test/genpacket_receive
test/genpacket_send
test/test_genpacket


# editor files
.*.swp
*.csv
